
.vs/TrueNorthRouteOptimization/v17/ipch/AutoPCH/80841862d894897e/VOYAGEOPT.ipch
.vs/TrueNorthRouteOptimization/v17/ipch/AutoPCH/8cc8f98b2157e71c/WEATHERTEST.ipch
*.ipch
.vs/TrueNorthRouteOptimization/v17/Browse.VC.db
*.opendb
