
.vs/TrueNorthRouteOptimization/v17/ipch/AutoPCH/80841862d894897e/VOYAGEOPT.ipch
.vs/TrueNorthRouteOptimization/v17/ipch/AutoPCH/8cc8f98b2157e71c/WEATHERTEST.ipch
*.ipch
.vs/TrueNorthRouteOptimization/v17/Browse.VC.db
*.opendb
.vs/TrueNorthRouteOptimization/v17/.suo
.vs/TrueNorthRouteOptimization/v17/.suo
.vs/slnx.sqlite
.vs/TrueNorthRouteOptimization/v17/.suo
.vs/VSWorkspaceState.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-89432de87568b3c127d2.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-f60d1b869329bdf43139.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-48a6b06af4ce851294dd.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-c65753709f1ab607b3a9.json
out/build/x64-debug/.cmake/api/v1/reply/index-2022-06-08T11-53-18-0078.json
out/build/x64-debug/.ninja_log
out/build/x64-debug/build.ninja
out/build/x64-debug/CMakeFiles/voyageOpt.dir/vc140.pdb
out/build/x64-debug/CMakeFiles/voyageOpt.dir/voyageOpt.cpp.obj
out/build/x64-debug/Testing/Temporary/LastTest.log
out/build/x64-debug/voyageOpt.ilk
out/build/x64-debug/voyageOpt.pdb
